* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

$defaultColor: rgb(1, 51, 1);
$buttonColor: rgb(17, 85, 14);
$containerBackground: rgb(144, 245, 144);

.container {
  background: $containerBackground;
  color: $defaultColor;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  font-size: 1.1em;
}

a {
  &:visited,
  &:active {
    color: blue;
  }

  &.button {
    width: 50%;
    text-decoration: none;
    &:visited,
    &:active {
      color: $buttonColor;
    }
  }
}

h1,
h2,
h3 {
  font-weight: bold;
  text-align: center;
}

h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}

p,
ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button {
  display: block;
  font-size: 1.2em;
  padding: 0.7em;
  border: 2px solid rgb(2, 53, 2);
  border-radius: 1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em;
  cursor: pointer;
  user-select: none;
  color: $buttonColor;

  background: rgb(66, 190, 66);
  box-shadow: 3px 3px rgb(67, 170, 67);

  &:hover {
    background: rgb(14, 143, 14);
  }
}
.page {
  flex: 1;
  display: flex;
  flex-flow: column;

  align-items: center;
  justify-content: space-around;
}

.textPage {
  .content {
    background: white;
    flex: 1;
    overflow-y: auto;
    padding: 1em;
    border: 0.2em solid $containerBackground;
  }
}

.attribution {
  white-space: pre-line;
}
