.page.home {
  h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: #054e05;
    color: yellow;
    width: 100%;

    text-shadow: 1px 1px 1px #000, 2px 2px 4px #f7f1a2;
  }

  .links {
    flex: 1;
    display: flex;
    flex-flow: column;

    align-items: center;
    justify-content: space-around;
    width: 80%;
  }
}
